---
import { Aside } from '@astrojs/starlight/components';
---

<Aside title="Abbreviations">
  <ul>
    <li><strong>Actor</strong> → Player Character, NPC or creature.</li>
    <li><strong>PC</strong> → Player Character.</li>
    <li><strong>Character</strong> → PC or NPC.</li>
    <li><strong>GM</strong> → Game Master (or Referee).</li>
    <li><strong>HP</strong> → Hit Points.</li>
  </ul>
</Aside>
